<table><!--  table to show Checked time Duration, Logged Hours, and Division--> 
  <tr align="center" class="<%= cycle("even")%>" >
    <th><strong><%= t(:label_issue_no)%></strong></th>
    <th><strong><%= t(:label_subject)%></strong></th>
    <th><strong><%= t(:label_time_logged)%></strong></th>
    <th><strong><%= t(:label_activity_to_log)%></strong></th>
  </tr>


  <% @time_entries.each do |time_entry| %>
    <tr align="center" class="<%= cycle("odd")%>" >
      <td><%= link_to time_entry.issue_id, issue_path(time_entry.issue_id) %> </td>
      <td><%= link_to time_entry.issue.subject,issue_path(time_entry.issue_id) %> </td>
      <td><%= time_entry.hours %> </td>
      <td><%= time_entry.activity.name %></td>
    </tr>
  <% end %><!--  time_entry do ends-->
  
</table><!--  Table Ends------------------------------------------------------------------------------------------->


