<% unless @user_time_check.check_out_time.nil? %>
<h2> Check-Out </h2>
<table>
  <tr align="left" class="<%= cycle("odd")%>" >
    <th><strong><%= "Check-out time: " %></strong></th>
    <td><%= @user_time_check.check_out_time %></td>
  </tr>
  <tr align="left" class="<%= cycle("even")%>">
    <th><strong><%= "Current user ID: " %></strong></th>
    <td><%= @user_time_check.user_id %></td>
  </tr>
  <tr align="left" class="<%= cycle("odd")%>">
    <th><strong><%= "Current user Name: " %></strong> </th>
    <td><%= User.current.name %></td>
  </tr>
  <tr align="left" class="<%= cycle("even")%>">
    <th><strong><%= "Time spent: " %></strong> </th>
    <td>
      <% time_difference = @user_time_check.check_out_time - @user_time_check.check_in_time %>
      <%= Time.at(time_difference).utc.strftime("%H:%M:%S")%>
      
    </td>
    
  </tr>
</table>

<br><br><br>
  
  <%if (@assigned_issues!= nil) then%>

  <%puts "this is the issuepopulated at controller #{@assigned_issues}"%> 
  <table>
  <tr></tr>  
  
  <tr>
   <b> Your Check Time duration is: <%= Time.at(time_difference).utc.strftime("%H:%M:%S")%>  Hours </b>
  </tr>
   <tr>
     <% logged_hours=@time_entry.sum(:hours)%>
    <b> <br>You have Logged : <%= logged_hours%>  Hours For Today </b>
    </tr>
  <br><br>
  
  <tr align="center" class="<%= cycle("even")%>" >
    <th><strong>Issue #</strong></th>
    <th><strong>Subject</strong></th>
    <th><strong>Time Logged</strong></th>
    <th><strong>Activity to log</strong></th>
    <th></th>
  </tr>
  
  <tr></tr>

  <% @time_entry.each do |time_entry| %>
    <tr align="center" class="<%= cycle("odd")%>" >
      <td><%= link_to time_entry.issue_id, issue_path(time_entry.issue_id) %></td>
      <td><%= link_to time_entry.issue.subject,issue_path(time_entry.issue_id) %></td>
      <td><%= time_entry.hours %></td>
      <td><%= time_entry.activity.name %></td>
    <td></td>
    </tr>
  <% end %>
</table>

<br><br><br>

<tr>
    <% remaining_time=time_difference-logged_hours%>
    <b> Please Log Remaining  <%= remaining_time%> Hours</b>
    </tr>
 <br><br>   
<table>

  <tr align="center" class="<%= cycle("even")%>" >
    <th>Issue #</th>
    <th>Tracker </th>
    <th>Status< /th>
    <th>Subject</th>
    <th>Hours To Log</th>
    <th>Activity</th>
    <th>Comments</th>
    <th></th>
  </tr>

   <tr></tr>


   
<% @assigned_issues.each_index do |idx| %>
   <%issue = @assigned_issues[idx]%>
  <tr align="center" class="<%= cycle("odd")%>" >
    <td><%= link_to issue.id, issue_path(issue.id) %></td>
    <td><%= Tracker.find(issue.tracker_id).name %></td>
    <td><%= issue.status.name %></td>
    <td><%= link_to issue.subject, issue_path(issue.id) %></td>
    
     <!-- Form elemets start here -->
    <%= form_for @new_time_entries[idx], url: time_entries_path do |f| %>
     <%= f.hidden_field :issue_id %>
    <td> <%= f.text_field :hours, :size => 6, :required => true %></td>
    <td><%= f.select :activity_id, activity_collection_for_select_options(@new_time_entry), :required => true %>
    <td> <%= f.text_field :comments, :size => 100, :maxlength => 255 %></td>
    <td> <%= f.submit 'Add' %></td>
   </tr>
  <% end %> <!--  End of Form-->
  
  
<% end %><!--  End of Form-->
<% end %>
<%end%>
  
  
 TimeEntry(id: integer, project_id: integer, user_id: integer,
 issue_id: integer, hours: float, comments: string, activity_id: integer, spent_on: date, 
 tyear: integer, tmonth: integer, tweek: integer, created_on: datetime, updated_on: datetime) 
</table>