
<h2> Check-In </h2>
<table>
  <tr align="left" class="<%= cycle("odd")%>" >
    <th><strong><%= "Check-in time: " %></strong></th>
    <td><%= @user_time_check.check_in_time  %></td>
  </tr>
  <tr align="left" class="<%= cycle("even")%>">
    <th><strong><%= "Current user ID: " %></strong></th>
    <td><%= @user_time_check.user_id %></td>
  </tr>
  <tr align="left" class="<%= cycle("odd")%>">
    <th><strong><%= "Current user Name: " %></strong> </th>
    <td><%= User.current.name %></td>
  </tr>
</table>
