<% unless @user_time_check.check_out_time.nil? %>

  <%= render 'check_out_info' %>
  <!-- Enhancement : Ticket : 60 ------- time_differece in Seconds, logged time :in hours---------------------------------------------------------->
  <br><br><br>

  <%if (@assigned_issues!= nil) then%>

    <% logger.debug "#{'*'*100}\nIssue populated at controller <Test> #{@assigned_issues}\n#{'*'*100}"%> 
    <% time_difference = @user_time_check.check_out_time - @user_time_check.check_in_time %>
    <p><b><%= l(:label_total_checked_time)%> | <%= Time.at(time_difference).utc.strftime("%H:%M:%S")%> </b> | <%= l(:label_hours_for_today)%>  </p>

    <% logged_hours=@time_entries.sum(:hours)%>
    <p><b> <%= l(:label_total_logged_time)%> | <%= Time.at(logged_hours*3600).utc.strftime("%H:%M:%S")%>  </b> | <%= l(:label_hours_for_today)%> </p>
    
    <% logger.debug "#{'*'*100}\nLogged hours are <Test> #{Time.at(logged_hours).utc.strftime("%H:%M:%S")}\n#{'*'*100}"%> 

    
    <% unless logged_hours == 0%>
      <%= render 'show_logged_time_entries' %> 
    <% end %> <!--  If condition to check if time is not 0, then display this-->
    
    <br/><br/> 
    
    <% remaining_time=time_difference-(logged_hours*3600)%>
    <p><b> <%= l(:label_please_log_remaining)%>  | <%= Time.at(remaining_time).utc.strftime("%H:%M:%S")%> </b> | <%= l(:label_hours_for_today)%> </p> 
    <br/>

    <% unless @assigned_issues.blank?%>
    <%= render 'availible_open_issues' %>
    <% end %>

  <% end %><!--  If Ends-->
<%end%><!--  Unless condition End  -->   
