<h2> Check-Out </h2>
<table>
  <tr align="left" class="<%= cycle("odd")%>" >
    <th><strong><%= "Check-out time: " %></strong></th>
    <td><%= @user_time_check.check_out_time %></td>
  </tr>
  <tr align="left" class="<%= cycle("even")%>">
    <th><strong><%= "Current user ID: " %></strong></th>
    <td><%= @user_time_check.user_id %></td>
  </tr>
  <tr align="left" class="<%= cycle("odd")%>">
    <th><strong><%= "Current user Name: " %></strong> </th>
    <td><%= User.current.name %></td>
  </tr>
  <tr align="left" class="<%= cycle("even")%>">
    <th><strong><%= "Spent time: " %></strong> </th>
    <td>
      <% time_difference = @user_time_check.check_out_time - @user_time_check.check_in_time %>
      <%= Time.at(time_difference).utc.strftime("%H:%M:%S")%>
    </td>
  </tr>
</table>