<% unless @user_time_check.check_out_time.nil? %>

<%= render 'check_out_info' %>
<!-- Enhancement : Ticket : 60 ----------------------------------------------------------------->
<br><br><br>
  
  <%if (@assigned_issues!= nil) then%>
  <% puts "#{'*'*100}\nIssue populated at controller <Test> #{@assigned_issues}\n#{'*'*100}"%> 
  <% time_difference = @user_time_check.check_out_time - @user_time_check.check_in_time %>
  <table><!--  table to show Checked time Duration, Logged Hours, and Division-->
    <tr></tr>
    <tr><b>Your Total Checked Time is | <%= Time.at(time_difference).utc.strftime("%H:%M:%S")%> </b> | Hours For Today  </tr>
    <br><br>
 
  
    <% logged_hours=@time_entries.sum(:hours)%>
    <tr><b> Your Total Logged Time is | <%= logged_hours%>  </b> | Hours For Today </tr>
    <br><br>
   <% puts "#{'*'*100}\nLogged hours are <Test> #{Time.at(logged_hours).utc.strftime("%H:%M:%S")}\n#{'*'*100}"%> 
    
  <% unless logged_hours == 0%>
    
  <tr align="center" class="<%= cycle("even")%>" >
    <th><strong>Issue #  </strong></th>
    <th><strong>Subject</strong></th>
    <th><strong>Time Logged</strong></th>
    <th><strong>Activity to log</strong></th>
  </tr>
  
  
  <% @time_entries.each do |time_entry| %>
    <tr align="center" class="<%= cycle("odd")%>" >
      <td><%= link_to time_entry.issue_id, issue_path(time_entry.issue_id) %> </td>
      <td><%= link_to time_entry.issue.subject,issue_path(time_entry.issue_id) %> </td>
      <td><%= time_entry.hours %> </td>
      <td><%= time_entry.activity.name %></td>
    </tr>
  <% end %><!--  time_entry do ends-->
  
  <% end %> <!--  If condition to check if time is not 0, then display this-->
  
</table><!--  Table Ends------------------------------------------------------------------------------------------->

<br><br>


  
 
 
<table> <!--  Table to Show Availible Logging Options-->
       <% remaining_time=time_difference-logged_hours%>
       <tr><b> Please Log Remaining  | <%= Time.at(remaining_time).utc.strftime("%H:%M:%S")%> </b> | Hours For Today </tr> 
       <br><br>  
    
  <tr align="center" class="<%= cycle("even")%>" >
    <th>Issue # </th>
    <th>Tracker </th>
    <th>Status  </th>
    <th>Subject </th>
    <th>Hours To Log</th>
    <th>Activity</th>
    <th>Comments</th>
  </tr>
   
<%= form_tag({:controller => :user_time_checks, :action => :create_time_entries}) do %>
   
<% @new_time_entries.each do |new_time_entry| %>
  <% if new_time_entry.errors.any? %>
  <tr align="center" class="<%= cycle("even")%>">

     <div>
       <h3><%= pluralize(new_time_entry.errors.count, "Error") %> Prohibited this post from being saved:</h3>
    <ul>
    <% new_time_entry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div
   </tr>
  <%end%>
   
  <tr align="center" class="<%= cycle("odd")%>" >
    <% assigned_issue = new_time_entry.issue %>
    <td><%= link_to assigned_issue.id, issue_path(assigned_issue.id) %></td>
    <td><%= Tracker.find(assigned_issue.tracker_id).name %></td>
    <td><%= assigned_issue.status.name %></td>
    <td><%= link_to assigned_issue.subject, issue_path(assigned_issue.id) %></td>
    
     <!-- Form elements start here -->
     <%= hidden_field_tag "time_entries[][issue_id]", new_time_entry.issue_id %>
     <%= hidden_field_tag "time_entries[][user_id]", User.current.id %>
     <%= hidden_field_tag "time_entries[][spent_on]", Date.today %>
     <td> <%= text_field_tag "time_entries[][hours]", new_time_entry.hours, :size => 10, :required => true %></td>
     <td><%= select_tag "time_entries[][activity_id]", options_for_select(activity_collection_for_select_options(new_time_entry)), :required => true %> </td>
     <td> <%= text_field_tag "time_entries[][comments]", new_time_entry.comments, :size => 100, :maxlength => 255 %></td>
   
    <% end %>
    </tr>
    <td> <%= submit_tag( 'Add' ) %></td>
  
    <% end %><!--  End of Form-->

  <% end %><!--  If Ends-->
<%end%><!--  Unless condition End  -->   
</table>