<h2> <%= l(:label_attendance_summary ) %> </h2>
<p>
  <strong><%= l(:label_import_csv) %></strong>
  <%= form_tag import_user_time_checks_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag l(:label_button_import) %>
    <small>
      <%= label_tag l(:label_file_note)%>
    </small>
  <% end %>
</p><br>
<% if @time_checks.empty? %>
  <% flash.now[:error] = l(:error_no_records_found) %>
<% else %>
  <table border="1">
    <thead>
      <tr align="center">
        <th><%= l(:label_user)%></th>
        <th><%= l(:label_check_in_time)%></th>
        <th><%= l(:label_check_out_time)%></th>
        <th><%= l(:label_comments)%></th>
        <th><%= l(:label_spent_time)%></th>        
        <th><%= l(:label_action)%></th>        
      </tr>
    </thead>
    <tbody>
      <% @time_checks.each do |time_check|%>
        <tr align="center" class="<%= cycle("odd", "even")%>">
          <td><%= User.find(time_check.user_id).name %></td>
          <td><%= time_check.check_in_time %></td>
          <td><%= time_check.check_out_time %></td>          
          <td><%= time_check.comments %></td>
          <td>
            <% unless time_check.check_out_time.nil? %>
              <% time_difference = time_check.check_out_time - time_check.check_in_time %>
              <%= Time.at(time_difference).utc.strftime("%H:%M:%S")%>
            <% end %>
          </td>          
          <td>
            <% if edit_leave_options(time_check.user_id) %>
              <%= link_to l(:link_edit), edit_user_time_check_path(time_check) %>
            <% else %>
              <small><%= l(:label_not_allowed)%></small>
            <% end %>
          </td>          
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
