<h2> <%= l(:label_attendance_summary ) %> </h2>
<div>
<p>
  <strong><%= l(:label_import_csv) %></strong>
  <%= form_tag import_user_time_checks_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag l(:label_button_import) %>
    <small>
      <%= label_tag l(:label_file_note)%>
    </small>
  <% end %>
</p><br>
</div>
 
<% content_for :header_tags do %>
  <%= javascript_include_tag "jquery-ui", plugin: 'redmine_leaves'  %>
  <%= javascript_include_tag "wice_grid", plugin: 'redmine_wice_grid'  %>
  <%= stylesheet_link_tag 'wice_grid', plugin: 'redmine_wice_grid' %>
 <%= javascript_include_tag "application", plugin: 'redmine_leaves'  %>
<% end %>
 



<div class="autoscroll " style=" width:20000">
  <%= render partial: 'time_check_grid', locals: {time_check_grid: @time_check_grid}%>
  <%=render partial: 'time_check_grid_filter'%>

  <br>
  <div id="main_grid" class="autoscroll" >
  
      <%= render_grid(@time_check_grid)%>
    </div>


</div>









