<h2> Attendance Summary </h2>
<p>
  <strong>Import CSV</strong>
  <%= form_tag import_user_time_checks_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag 'Import' %>
    <small>
      <%= label_tag "NOTE: File should be headerless, tab separated and column sequence should be [S.No.  DATE  Check-In  Check-Out  NAME  ...]" %>
    </small>
  <% end %>
</p><br>
<% if @time_checks.empty? %>
  <% flash.now[:error] = 'No Records Found!' %>
<% else %>
  <table border="1">
    <thead>
      <tr align="center">
        <th>User</th>
        <th>Check-in Time</th>
        <th>Check-out Time</th>
        <th>Comments</th>
        <th>Spent Time</th>
        <th>Action</th>        
      </tr>
    </thead>
    <tbody>
      <% @time_checks.each do |time_check|%>
        <tr align="center" class="<%= cycle("odd", "even")%>">
          <td><%= User.find(time_check.user_id).name %></td>
          <td><%= time_check.check_in_time %></td>
          <td><%= time_check.check_out_time %></td>          
          <td><%= time_check.comments %></td>
          <td>
            <% unless time_check.check_out_time.nil? %>
              <% time_difference = time_check.check_out_time - time_check.check_in_time %>
              <%= Time.at(time_difference).utc.strftime("%H:%M:%S")%>
            <% end %>
          </td>          
          <td>
            <% if edit_leave_options(time_check.user_id) %>
              <%= link_to 'Edit', edit_user_time_check_path(time_check) %>
            <% else %>
              <small>Not Allowed</small>
            <% end %>
          </td>          
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
