<%= render template: "layouts/user_time_reports" %>
<br>
<h2>Custom User Time Report</h2>
 
 
<% content_for :header_tags do %>
  <%= javascript_include_tag "jquery-ui", plugin: 'redmine_leaves'  %>
  <%= javascript_include_tag "wice_grid", plugin: 'redmine_leaves'  %>
  <%= stylesheet_link_tag 'wice_grid', plugin: 'redmine_leaves' %>
 <%= javascript_include_tag "application", plugin: 'redmine_leaves'  %>
<% end %>
 




<% if User.current.allowed_to_globally?(:view_time_reports,{}) -%>



<div class="autoscroll " style=" width:20000">
  <%= render partial: 'time_report_grid', locals: {time_report_grid: @time_report_grid}%>
  <%=render partial: 'time_report_grid_filter'%>

  <br>
  <div id="main_grid" class="autoscroll" >
  
      <%= render_grid(@time_report_grid)%>
    </div>


</div>














<%else%>

  <p>You do not have permission to view reports</p>
  <a href="/user_time_checks">Back</a>
<%end%>
