<h2> Add Leave </h2>
<%unless @errors.blank?%>
  <%@errors.each do |key,value|%>
    leaves for following <%='user'.pluralize if @errors.count>1%> <%='has'.pluralize if @errors.count>1%> not been added
    <%=key.to_s%>
    <%value.each do |error|%>
      <%flash[:error]=error%>
    <%end%>
  <%end%>
<%end%>
<%= form_for @user_leave do %>
  <%= error_messages_for @user_leave %>

  <div>
    <strong>User/Group</strong>
    <%= select_tag("create_user_leave[selected_users][]",
      add_user_options(params[:create_user_leave] && params[:create_user_leave][:selected_users]),
      multiple: true) %>
    <%= select_tag('create_user_leave[selected_groups][]', 
      options_from_collection_for_select(Group.all, :id, :name, 
        params[:create_user_leave] && params[:create_user_leave][:selected_groups]), 
      multiple: true) %>
  </div><br/>

  <div>
    <strong>Leave Type</strong>
    <%= select_tag('create_user_leave[selected_leave]',
      add_leave_options(params[:create_user_leave] && params[:create_user_leave][:selected_leave])) %>
  </div><br/>

  <div>    
    <strong>Leave Date</strong><br>
    <div style="padding-left: 70px">
      <strong>From</strong><br/>
      <%= date_select("create_user_leave[selected_date_from]",
        params[:create_user_leave] && params[:create_user_leave][:selected_date_from]) %><br/>
      <strong>To</strong><br/> 
      <%= date_select("create_user_leave[selected_date_to]",
        params[:create_user_leave] && params[:create_user_leave][:selected_date_to]) %><br>
    </div><br>
  </div>
  <br/>

  <div>
    <strong>Comments</strong>

    <%= text_field_tag "create_user_leave[comments]",
      params[:create_user_leave] && params[:create_user_leave][:comments], size: 28 %>

    <small>(Optional)</small>
  </div><br/>

  <div>
    <strong>Fractional Leave</strong>

    <%= number_field_tag "create_user_leave[fractional_leave]",nil,
      :step =>'.25', :min=> 0,:max=> 1 %>
    <small>(Optional:only required for half leaves)</small>
  </div><br/>

  <%= submit_tag 'Add' %>

<% end %>

