<%=  form_tag controller: 'user_leave_reports', action: 'report' do %>
  <table>
    <tr align="left">
      <th><%= l(:label_date_from) %></th>
    </tr>  
    <tr align="left">
      <td><%= text_field_tag "user_leave_report[date_from]", params[:user_leave_report] && params[:user_leave_report][:date_from] %>
        <%= calendar_for 'user_leave_report_date_from' %>
      </td>    
    </tr>
    <tr align="left">
      <th><%= l(:label_date_to) %></th>
    </tr>
    <tr align="left">
      <td> <%= text_field_tag "user_leave_report[date_to]", params[:user_leave_report] && params[:user_leave_report][:date_to] %> 
        <%= calendar_for 'user_leave_report_date_to' %>
      </td>    
    </tr>


    <tr align="left">
      <th><%= l(:label_sortby) %></th>
    </tr>
    <tr align="left">
      <td>
        <%= select_tag("user_leave_report[selected_group_by]",
          group_by_options(params[:user_leave_report] && params[:user_leave_report][:selected_group_by]),
          multiple: false) %> 
      </td>   
    </tr>
  </table>
  <table>
    <tr align="left">
      <th><%= l(:label_user) %></th>
      <th><%= l(:label_leave_types) %></th>
      <th><%= l(:label_group) %></th>
    </tr>
    <tr align="left">
      <td>
        <%= select_tag("user_leave_report[selected_users][]",
          user_options(params[:user_leave_report] && params[:user_leave_report][:selected_users]),
          multiple: true) %>
      </td>
      <td>
        <%= select_tag("user_leave_report[selected_leave_types][]",
          leave_options(params[:user_leave_report] && params[:user_leave_report][:selected_leave_types]),
          multiple: true) %> 
      </td>

      <td>
        <%= select_tag("user_leave_report[selected_groups][]",
          group_options(params[:user_leave_report] && params[:user_leave_report][:selected_groups]),
          multiple: true) %> 
      </td>
    </tr>
  </table><br/>
  <%= submit_tag 'Apply' %>
<% end %>
