<%= render template: "layouts/redmine_leaves" %>
<div class="flash notice" id="flash_delete_option" style="display:none;"></div>
<h2><%= l(:title_leave_summary) %> </h2>
<%= render 'options' %><br/><br/>
<% unless @divided_leaves.nil? ||  @divided_leaves.empty? %>
  <%@divided_leaves.each do |key,value|%>
    <%=key.to_s%>
    <table border="1" id='user-leave-report'>
      <thead>
        <tr align="center">
          <th><%= l(:label_name) %></th>
          <th><%= l(:label_leave_type) %></th>
          <th><%= l(:label_leave_date) %></th>          
          <th><%= l(:label_weight) %></th>          
          <th><%= l(:label_comments) %></th>          
          <% if User.current.admin? %>
            <th><%= l(:label_action) %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% value.each do |user_leave|%>
        
          <tr id="table-row-<%=user_leave.id%>" align="center" class="<%= cycle("odd", "even")%>">

            <td><%= link_to User.find(user_leave.user_id).name, user_path(User.find(user_leave.user_id)) %></td>
            <td><%= link_to user_leave.leave_type, :controller => 'user_leave_reports',
                :action=> 'report',:user_leave_report=>{:selected_leave_types=>user_leave.leave_type, :selected_group_by =>'User'} %></td>
            <td><%= link_to user_leave.leave_date, :controller => 'user_leave_reports',
                :action=> 'report',:user_leave_report=>{:date_from=>user_leave.leave_date,:date_to=>user_leave.leave_date, :selected_group_by =>'User'} %></td>
            <td><%= user_leave.fractional_leave %></td>
            <td><%= user_leave.comments %></td>
            <% if User.current.admin? %>
              <td>
                <%= link_to l(:link_edit), edit_user_leafe_path(user_leave) %> | 
                <%= link_to l(:link_delete), user_leafe_path(user_leave), :remote => true,
                  method: :delete, data: { confirm: l(:label_confirm) }%>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<%end%>
