<table>  
  <tr align="left">
    <th><%= l(:label_leave_types)%></th>
    <td><%= text_field_tag('settings[leave_types]', settings['leave_types']) %>
    <th><small> <%= l(:label_multiple_leaves_instructions )%> </small></th>
  </tr>
  <tr align="left" >
    <th><%= l(:label_default_type ) %></th>
    <td><%= text_field_tag('settings[default_type]', settings['default_type']) %>
  </tr>
  <tr align="left">
    <th><%= l(:label_eligible_for_leave_groups ) %></th>
  </tr>
  <tr align="left">
    <td><%= select_tag('settings[eligible_for_leave_groups]', 
        options_from_collection_for_select(Group.all, :id, :name, 
          settings['eligible_for_leave_groups']), 
        multiple: true) %>
    </td>
  </tr>
</table><br/>
<table>
  <thead>
    <tr>
      <th><%= l(:label_mark_leaves ) %></th>
      <th><%= l(:label_mark_own_leave ) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= select_tag('settings[mark_leaves]', 
          options_from_collection_for_select(Group.all, :id, :name, 
            settings['mark_leaves']), 
          multiple: true) %>
      </td>
      <td><%= select_tag('settings[mark_own_leave]', 
          options_from_collection_for_select(Group.all, :id, :name, 
            settings['mark_own_leave']), 
          multiple: true) %>
      </td>    
    </tr>
  </tbody>
</table><br/>
<table>
  <thead>
    <tr>
      <th><%= l(:label_daily_mail_reminder) %></th>
      <th><%= l(:label_weekly_mail_reminder) %></th>
      <th><%= l(:label_monthly_mail_reminder) %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= select_tag('settings[daily_reminder]', 
          options_from_collection_for_select(Group.all, :id, :name, 
            settings['daily_reminder']), 
          multiple: true) %>
      </td>
      <td><%= select_tag('settings[weekly_reminder]', 
          options_from_collection_for_select(Group.all, :id, :name, 
            settings['weekly_reminder']), 
          multiple: true) %>
      </td>
      <td><%= select_tag('settings[monthly_reminder]', 
          options_from_collection_for_select(Group.all, :id, :name, 
            settings['monthly_reminder']), 
          multiple: true) %>
      </td>
    </tr>
    <tr align="left">
      <th><%= l(:label_edit_attendance ) %></th>
      <td><%= select_tag('settings[edit_attendance]', 
              options_from_collection_for_select(Group.all, :id, :name, 
                settings['edit_attendance']), 
              multiple: true) %>
      </td>      
    </tr>
    <tr align="left">
      <th><%= l(:label_edit_own_attendance ) %></th>
      <td><%= select_tag('settings[edit_own_attendance]', 
              options_from_collection_for_select(Group.all, :id, :name, 
                settings['edit_own_attendance']), 
              multiple: true) %>
      </td>      
    </tr>
  </tbody>
</table>
