<table>
  <tbody>
    <tr align="left">
      <th>Leave Type(s)</th>
      <td><%= text_field_tag('settings[leave_types]', settings['leave_types']) %>
      <th><small> For multiple Leave Types, enter values separated by comma (,) </small></th>
    </tr>
    <tr align="left" >
      <th>Default Type</th>
      <td><%= text_field_tag('settings[default_type]', settings['default_type']) %>
    </tr>
    <tr align="left">
      <th>Eligible for Leave Group(s)</th>
      <td><%= select_tag('settings[eligible_for_leave_groups]', 
              options_from_collection_for_select(Group.all, :id, :name, 
                settings['eligible_for_leave_groups']), 
              multiple: true) %>
      </td>
    </tr>
    <tr align="left">
      <th>Mark Leaves</th>
      <td><%= select_tag('settings[mark_leaves]', 
              options_from_collection_for_select(Group.all, :id, :name, 
                settings['mark_leaves']), 
              multiple: true) %>
      </td>      
    </tr>
    <tr align="left">
      <th>Mark Own Leave</th>
      <td><%= select_tag('settings[mark_own_leave]', 
              options_from_collection_for_select(Group.all, :id, :name, 
                settings['mark_own_leave']), 
              multiple: true) %>
      </td>
    </tr>
  </tbody>
</table>