<fieldset class="box">
  <legend><strong>Leave Type Settings</strong></legend>
  <table>  
    <tr>
      <td>
        <table>
          <tr><legend><%= l(:label_leave_types)%></legend></tr>
    <tr><td align="middle"><%= text_field_tag('settings[leave_types]', settings['leave_types']) %></td></tr>
    <tr><td><small> <%= l(:label_multiple_leaves_instructions )%> </small></td></tr>
  </table>
</td>

<td>
  <table>
    <tr>
    <legend><%= l(:label_default_type ) %></legend></tr>
    <tr>
      <td><%= text_field_tag('settings[default_type]', settings['default_type']) %></td></tr></table>
</td>

<td>
  <table>
    <tr>
    <legend><%= l(:label_eligible_for_leave_groups ) %></legend></tr>

    <tr>
      <td><%= select_tag('settings[eligible_for_leave_groups]', 
          options_from_collection_for_select(Group.all, :id, :name, 
            settings['eligible_for_leave_groups']), 
          multiple: true) %>
      </td>
    </tr>
  </table>
</td>
</tr>
</table>

</fieldset>

<fieldset class="box">
  <legend><strong>Permission Settings</strong></legend>
  <table>
    <tr>
      <td>
    <table class='box'>
      <legend>Mark</legend>
      <tr>
        <td>
          <table><tr><legend><%= l(:label_mark_leaves ) %></legend></tr>
      <tr>
        <%= select_tag('settings[mark_leaves]', 
          options_from_collection_for_select(Group.all, :id, :name, 
            settings['mark_leaves']), 
          multiple: true) %>
      </tr></table>
    </td>

    <td>
      <table><tr><legend><%= l(:label_mark_own_leave ) %></legend>
        </tr>
        <tr>
          <%= select_tag('settings[mark_own_leave]', 
            options_from_collection_for_select(Group.all, :id, :name, 
              settings['mark_own_leave']), 
            multiple: true) %>
        </tr></table>
    </td>

    </tr>  
  </table>
      </td>
      <td>
  <table class='box'>
    <legend>Edit</legend>
    <tr>
      <td>
        <table><tr><legend><%= l(:label_edit_attendance) %></legend></tr>
    <tr>
      <%= select_tag('settings[edit_attendance]', 
        options_from_collection_for_select(Group.all, :id, :name, 
          settings['edit_attendance']), 
        multiple: true) %>
    </tr></table>
</td>

<td>
  <table><tr><legend><%= l(:label_edit_own_attendance) %></legend>
    </tr>
    <tr>
      <%= select_tag('settings[edit_own_attendance]', 
        options_from_collection_for_select(Group.all, :id, :name, 
          settings['edit_own_attendance']), 
        multiple: true) %>
    </tr></table>
</td>

</tr>  
</table>
      </td>
</tr>
</table>
</fieldset>

<fieldset class="box">
  <legend><strong>Reminder Settings</strong></legend>
  <table>
    <tr>
      <td>
    <table><tr><legend><%= l(:label_daily_mail_reminder) %></legend></tr>
    <tr>
      <td><%= select_tag('settings[daily_reminder]', 
            options_from_collection_for_select(Group.all, :id, :name, 
              settings['daily_reminder']), 
            multiple: true) %>
    </tr></table>
      </td>
      <td>
    <table><tr><legend><%= l(:label_weekly_mail_reminder) %></legend></tr>
    <tr>
      <td><%= select_tag('settings[weekly_reminder]', 
            options_from_collection_for_select(Group.all, :id, :name, 
              settings['weekly_reminder']), 
            multiple: true) %>
    </tr></table>
      </td>
      <td>
    <table><tr><legend><%= l(:label_monthly_mail_reminder) %></legend></tr>
    <tr>
      <td><%= select_tag('settings[monthly_reminder]', 
            options_from_collection_for_select(Group.all, :id, :name, 
              settings['monthly_reminder']), 
            multiple: true) %>
    </tr></table>
      </td>
  </tr>
  </table>
</fieldset>










<fieldset class="box">
  <legend><strong>Time Activity Report Settings</strong></legend>
  <table>  
    <tr>
      
        <table>
          <tr><legend><%= l(:label_trackers)%></legend></tr>
    <tr><td align="middle">
<%#= text_field_tag('settings[tracker_names]', settings['tracker_names']) %>
      </td></tr>
    <tr><td><small> <%= l(:label_tracker_instructions )%> </small></td></tr>
  </table>

    <table><tr><legend><%= l(:label_trackers) %></legend></tr>
    <tr>
      <td>
        <%# tracker_array = Tracker.all.map { |tracker| [tracker.name, tracker.id] } %>
        <%#= select(tracker_array) %>
        
        <%= options_from_collection_for_select(Tracker.all, :id, :name) %>

<%#= collection_select(:tracker, :name, Tracker.all, :id, :name, multiple: true) %>

<%= select_tag('settings[tracker_names]', 
            options_from_collection_for_select(Tracker.all, :name, :name,settings['tracker_names']), 
            multiple: true) %>
    </tr></table>
     



</fieldset>