<h1> Leave Summary </h1>

<table>
  <tr>
    <th>Period</th>
    <th>From</th>
  </tr>
  
  <tr>
    <td><%= select_tag("Time", options_for_select(['all time', 'monthly']),) %></td>
    <td><%= text_field_tag 'name' %></td>    
  </tr>
  <tr>
    <th></th>
    <th>To</th>
    <th></th>
  </tr>
  <tr>
    <td><%= text_field_tag 'name' %></td>    
  </tr>
</table>

<table>
  <tr>
    <th>User</th>
    <th>Leave Types</th>
  </tr>
  
  <tr>
    <td>
      <%= select_tag("Users", options_for_select(@all_users, @selected_user), :multiple => true) %>
    </td>
    <td>
      <%= select_tag("LeaveTypes", options_for_select(@all_leaves, @selected_leave), :multiple => true) %>
    </td>
  </tr>
</table>

<%= button_tag "Show"%>
<%= button_tag "View All"%>

<br/>
<br/>

<table>
  <tbody>
    
    <tr>
      <th>User ID</th>
      <th></th>
      <th>Name</th>
      <th></th>
      <th>Leave Type</th>
      <th></th>
      <th>Leave Date</th>      
    </tr>
    
    <%user_leaves = UserLeave.all%>
    <%user_leaves.each do |user|%>
    
      <tr>
        <td><%= user.user_id %></td>
        <td></td>
        <td><%= User.find(user.user_id).name %></td>
        <td></td>
        <td><%= user.leave_type %></td>
        <td></td>
        <td><%= user.leave_date %></td>      
      </tr>
    <% end %>
      
  </tbody>
</table>


