<h2> Leave Summary </h2>

<%= render 'options' %>

<% if @reported_user.nil? %>
  <!-- Do nothing -->    
<% elsif @reported_user.empty? %>
  <% flash.now[:error] = 'No Results Found!' %>
<% else %>
  <table border="1">
    <tbody>
      <tr align="left">
        <th>User ID</th>
        <th>Name</th>
        <th>Leave Type</th>
        <th>Leave Date</th>      
      </tr>

      <%@reported_user.each do |user|%>
        <tr align="left" class="<%= cycle("odd", "even")%>">
          <td><%= user.user_id %></td>
          <td><%= User.find(user.user_id).name %></td>
          <td><%= user.leave_type %></td>
          <td><%= user.leave_date %></td>      
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>   
        